@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.productFormBlock {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.alert {
  position: fixed;
  left: 0;
  right: 0;
  top: 56px;
  z-index: 1;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 350ms ease-out;
  opacity: 0;
}

.product-exit-active {
  transition: opacity 350ms ease-out;
  opacity: 0;
}
.product-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1;
}

.product-enter {
  opacity: 0;
}

.cart-amount-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weight {
  min-height: 31px;
  background-color: #007BFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.weight-buttons {
  min-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-in-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cart-list {
  width: 70%;
}

.cartFormBlock {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.item-box {
  min-width: 200px;
}

// .slider {
//   position: relative;
//   width: 100%;
//   height: 300px;
//   margin-left: auto;
//   margin-right: auto;
//   box-sizing: border-box;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   overflow: hidden;
// }

// .slider-image {
//   position: absolute;
//   width: 30%;
//   height: 100%;
//   transition: all 0.5s;
// }

// .slider-image-prev {
//   transform: translateX(-100%);
// }

// .slider-image-next {
//   transform: translateX(100%);
// }


// @keyframes product {
//   0% {
//     transform: translateX(0);
//   }
//   30% {
//     opacity: .7;
//     transform: translateX(30px);
//   }
//   100% {
//     opacity: 0;
//     transform: translateX(-200px);
//   }
// }